site_name: "Exploring Kubernetes"
extra_css:
  - stylesheets/extra.css
theme:
  name: material
  palette:
    scheme: slate
    primary: black
    accent: amber
  logo: images/exploring_kubernetes.png
  favicon: images/exploring_kubernetes.png
  icon:
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
  features:
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - content.code.highlight
    - content.tooltips
    - content.code.mermaid

plugins:
  - search
  - htmlproofer:
      enabled: true
      validate_rendered_template: true
      validate_external_urls: false
      raise_error: true
      raise_error_after_finish: true

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - attr_list
  - md_in_html

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

nav:
  - Home: index.md
  - Core Concepts:
      - Architecture: core_concepts/architecture.md
#  - Workloads:
#      - The Pod: workloads/the_pod.md
#      - Deployments: workloads/deployments.md
#  - Networking:
#      - Services: networking/services.md
#  - Storage:
#      - Persistent Volumes: storage/persistent_volumes.md
